@charset "UTF-8";

.myhidden {
	width: 1px;
	height: 1px;
	position: absolute;
	overflow: hidden;
	left: -99999%;
	font-size: 0;
	line-height: 0;
}
body, h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	color:black;
}

.navbar{
	font-family: 'Noto Sans KR', 'CJONLYONENEW', '맑은 고딕', '돋움', Dotum, sans-serif;
}

/* admin *//* admin *//* admin */
.adminHeader a {
    font-size: 20px;
   	padding:20%
}
.adminHeader .navbar-header.col-sm-4.mynav_c {
    padding: 15px;
}

/* header *//* header *//* header */

#header .main a {
	color: white;
	margin-top: 5px; 
}
#header .dropdown-menu a{
	color:black;
	padding:5%;
	margin:5%;
	font-size: 16px;
    font-weight: normal;
}
 #header nav.navbar.mybg_h {
	border-radius: 0px;
} 

.mybg_h {
	padding: 30px 6px 25px 5px;
	background-image:url('../images/spotlight.jpg');
	background-size:20%;
	text-align:center;
}

.navbar-header img {
	width: 45px;
    height: 45px;
    vertical-align: middle; 
    margin-top: -20px;
}

 #header .mynav_r .glyphicon {
	border: 2px solid white;
	padding: 6px;
	border-radius: 50%;
} 


#header .nav>li>a:focus, #header .nav>li>a:hover {
	background-color: transparent;
	border-bottom: 3px solid #ddd;
	color: #ddd;
}
a:hover{
	background-color: transparent;
	text-decoration: none;
	color: #ddd;
}

.main {
	height:55px;
	margin: auto;
}

.main.m1 {
	font-size:43px;
	font-family: 'Faster One', cursive;
	position: relative;
}

.nav.navbar-nav.main {
	font-size:18px;
}

.col-sm-3.mynav_l a, .col-sm-4.mynav_r a {
    font-size: 22px;
    font-weight: bold;
}
.col-sm-4.mynav_r {
    margin-left: -60px;
}

/* footer *//* footer *//* footer */

#footer {
	 left: 0;
  bottom: 0;
  width: 100%;
	color: black;
	background-color: #f5f5f5;
	padding-top: 20px;
	text-align: center;
}

#footer .myclarboth {
	padding: 5%;
}

#footer .mynav_f li {
	margin-right: 5px;
}


/* .bd-navbar {
	position: sticky;
	top: 0;
	z-index: 1071;
	min-height: 4rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0
		rgba(0, 0, 0, .1);
}

.bd-sidebar {
	position: sticky;
	top: 4rem;
	z-index: 1000;
	height: calc(100vh - 4rem);
	background: #eee;
	border-right: 1px solid rgba(0, 0, 0, .1);
	overflow-y: auto;
	min-width: 160px;
	max-width: 220px;
}

.bd-sidebar .nav {
	display: block;
}

.bd-sidebar .nav>li>a {
	display: block;
	padding: .25rem 1.5rem;
	font-size: 90%;
}

ul.nav .nav-side {
	flex-direction: column;
}

ul.nav.navbar-nav {
	flex-direction: row;
}

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input#post_cname, input#post_ctel, input#post_cmgrname, input#post_cemail, input#post_cloc {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	background-color: #A9A9A9;
	color: white;
}


input[type=submit] {
	background-color: #04AA6D;
	border: none;
	color: white;
	text-decoration: none;
	margin: 4px auto;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

div .form {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

div.bottombtn {
	width: 100%;
	height: 100%;
}

.col-3.bd-sidebar {
	position: absolute;
	top: 0rem; header 공간만큼 빼기
}

body {
	margin: 0;
}

ul.nav2 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 20%;
	background-color: #f1f1f1;
	height: 100%;
	overflow: auto;
}

li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

li a.active {
	background-color: #04AA6D;
	color: white;
}

li a:hover:not(.active) {
	background-color: #555;
	color: white;
}

th {
	background-color: #ADD8E6;
}

th, td {
	border-bottom: 1px solid #ddd;
}

span.formessential {
	font-size: 10px;
	color: red;
}

.column {
	margin: 30px;
	float: left;
	width: 21%;
	padding: 15px;
	border-top: 2px solid blue;
	height:350px;
}



.column.layout {
    border-top: 2px solid blue;
    margin-right: 30px;
}

Clear floats after the columns
.row:after {
	content: "";
	display: table;
	clear: both;
}

strong.size {
	font-size:25px;
}

ul.nav.navbar-nav.navbar-right.mynav_r {
	font-size:18px;
}
	
#detailpage textarea.commupdatebox {
    width: 500px;
}

Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less)
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} */